@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import './fonts.css';

* {
    font-family: 'Outfit';
}

::-webkit-scrollbar {
    display: none;
}

.logo-shadow {
    filter: drop-shadow(0 0 15px rgba(99, 102, 241, 0.5));
}
